// Responsive mixins
@mixin large-screen {
	@media only screen and (max-width: 1200px) {
		@content;
	}
}

@mixin medium-screen {
	@media only screen and (max-width: 992px) {
		@content;
	}
}

@mixin small-screen {
	@media only screen and (max-width: 767px) {
		@content;
	}
}

@mixin extra-small-screen {
	@media only screen and (max-width: 576px) {
		@content;
	}
}

// Transition Mixins
@mixin transition($what: all, $time: 0.5s, $how: ease-in-out) {
	-webkit-transition: $what $time $how;
	-moz-transition: $what $time $how;
	-ms-transition: $what $time $how;
	-o-transition: $what $time $how;
	transition: $what $time $how;
}
